<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <link rel="stylesheet" href="../static/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="../static/dist/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../static/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="../static/dist/css/googleapis.css" rel="stylesheet">
    <script src=" ../static/plugins/jquery/jquery.min.js "></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <title>色块图</title>
    <style>
         ::-webkit-scrollbar {
            display: none;
        }
        
        html,
        body {
            overflow: hidden;
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">异常报警</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">厅方</th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">桌台</th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">地址</th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">异常情况</th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">异常时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <!-- <tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1">AGQJ</td>
                                            <td>B01</td>
                                            <td>https://agqj.sugefhi.com/tz01/8-11.flv</td>
                                            <td>####</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                        <li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js "></script>
    <!-- AdminLTE -->
    <script src="../static/dist/js/adminlte.js "></script>
    <script>
       $(document).ready(function() {
    $('#example2').DataTable( {
        "processing": true,
        "ajax": "/ycbj",
        "columns": [
            { "data": "tingfang" },
            { "data": "ztname" },
            { "data": "ztaddr" },
            { "data": "ztstatus" },
            { "data": "testtime" }
        ]
    } );
} );
//     $(document).ready(function(){
//     var data = [ 
//     { 
//         "name":       "Tiger Nixon", 
//         "position":   "System Architect", 
//         "salary":     "$3,120", 
//         "start_date": "2011/04/25", 
//         "office":     "Edinburgh"
//     }, 
//     { 
//         "name":       "Garrett Winters", 
//         "position":   "Director", 
//         "salary":     "$5,300", 
//         "start_date": "2011/07/25", 
//         "office":     "Edinburgh"
//     } 
// ] 
// $('#example2').DataTable( { 
//     data: data, 
//     columns: [ 
//         { data: 'name' }, 
//         { data: 'position' }, 
//         { data: 'salary' }, 
//         { data: 'office' },
//         {data:'start_date'}
//     ] 
// } ); 
// });
    </script>
    <!-- <script>
        var chart = $(document).ready(function(){
            $('example2').DataTable();
        });
        $(
            function() {
                fetchData(chart);
                setInterval(fetchData, 60000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/ycbj",
                dataType: 'json',
                success: function(result) {
                    columns.render(result);
                }
            });
        }
    </script> -->
</body>

</html> -->